.snote h2, p{
  font-size:100%;
  font-weight:normal;
}

.snote ul, li {
  list-style:none;
  margin:1em;
}

.snote ul{
  overflow:hidden;
}

.snote ul li {
  float: left;
  position: relative;
}

.snote ul li div {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:25em;
  width:25em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
   box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.snote ul li:nth-child(even) div {
  position:relative;
  top:5px;
  background:#cfc;
}

.snote ul li:nth-child(3n) div {
  position:relative;
  top:-5px;
  background:#ccf;
}

.snote ul li:nth-child(5n) div {
  position:relative;
  top:-10px;
  background:#fcf;
}

.snote ul li div:hover,ul li div:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -o-transform: scale(1.10);
  position:relative;
  z-index:5;
}

.snote ul li h2 {
  font-size:160%;
  font-weight:bold;
  padding-bottom:0px;
  font-family:Oswald;
  text-align:center;
  color:#000;
}

.snote ul li p {
  font-family:'Shadows Into Light Two',arial,sans-serif;
  font-size:100%;
  color:#000;
}

/* Button style  */
ul li div .update_button {
	padding: 1px 3px;
	margin: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

.image_stickynotes {
  width: 95%;
  max-height: 95%;
}
