{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

<!-- BREADCRUMB -->
{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <!-- AUTHENTIFIED -->
    <div>
      <h1>Hi and welcome back {{ user.username }}!</h1>
    <!-- TODO: list chlks created by me -->

    <!-- TODO: list joined favorites -->

    <!-- NOT AUTHENTIFIED -->
    {% else %}
    <h1>Welcome to Sticky Notes !</h1>
    <p>Pin your links at one place !</p>

    <h2>Concept</h2>
    <p>
      Sticky Notes's allows you to create/join a <i>private</i> or a <i>public</i> Chalkboard and to post:
      <ul>
        <li><b>Texts</b></li>
        <li><b>Images</b></li>
        <li><b>Videos</b> and <b>Music</b> * </li>
    </ul>

    </p>

    <p><a href="{% url 'register' %}" >Feel free to try it ! </a></p>
    <p>* supported links : Youtube, Vimeo, Soundlcoud</p>
  </div>
  {% endif %}
{% endblock %}
