{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

<!-- BREADCRUMB -->
{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <!-- AUTHENTIFIED -->
    <div>
      <h2>Hi {{ user.username }}!</h2>
    <!-- TODO: list chlks created by me -->

    <!-- TODO: list chlks favorites -->

    <!-- TODO: NOT AUTHENTIFIED -->
    {% else %}
    <h1>Welcome to Sticky Notes !</h1>

    <p>This application ... </p>

    <p>Feel free to try it ! </p>
  </div>
  {% endif %}
{% endblock %}
