{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
Home
{% endblock %}

<!-- BREADCRUMB -->
{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <!-- AUTHENTIFIED -->
    <div>
      <h1>Hi and welcome back {{ user.username }}!</h1>
      <!-- Owned chlks -->
      <h2>My Chalkboards</h2>
        {% for chalkboard in chalkboards %}
          {% if chalkboard.user_created == user %}
            <p>
              Chalkboard name : <a href="{% url 'details_chalkboard' chalkboard.id %}" >{{ chalkboard.name }}</a><br>
              Description : {{ chalkboard.description }}<br>
            </p>
          {% endif %}
          {% empty %}
            <p>
              You don't have any chalkboard!
            </p>
        {% endfor %}

    <!-- Last posts -->
      <h1>Last notes</h1>
      {% for stickynote in stickynotes %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ stickynote.title }}</h3>
          <p>
            {% if stickynote.imagestickynote %}
              <img class="image_stickynotes" src="{{ stickynote.imagestickynote.image_content }}">
            {% elif stickynote.videostickynote %}
              {% load embed_video_tags %}
                {% video stickynote.videostickynote.video_content as my_video %}
                  {% video my_video %}
              {% endvideo %}
            {% else %}
              {{ stickynote.text_content }}
            {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
    <!-- NOT AUTHENTIFIED -->
    {% else %}
    <h1>Welcome to Sticky Notes !</h1>
    <p>Pin your links at one place !</p>

    <h2>Concept</h2>
    <p>
      Sticky Notes's allows you to create/join a <i>private</i> or a <i>public</i> Chalkboard and to post:
      <ul>
        <li><b>Texts</b></li>
        <li><b>Images</b></li>
        <li><b>Videos</b> and <b>Music</b> * </li>
    </ul>

    </p>

    <p><a href="{% url 'register' %}" >Feel free to try it ! </a></p>
    <p>* supported links : Youtube, Vimeo, Soundlcoud</p>
  </div>
  {% endif %}
{% endblock %}
