{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
Chalkboards
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Chalkboards</li>
{% endblock %}

{% block content %}

  <a data-toggle="modal" data-target="#modal" href="{% url 'create_chalkboard' %}">Create</a>
  <br><br>

  {% include 'chalkboards/list_chalkboard.html' with chalkboards=chalkboards joined_chalkboards_id=joined_chalkboards_id chalkboard_title=chalkboard_title chalkboard_empty_message=chalkboard_empty_message %}
  <div class="modal fade" id="modal"></div>
{% endblock %}
{% block javascript %}
<script>
$('#modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    $.ajax({
        url: "{% url 'create_chalkboard' %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
});
var form_options = { target: '#modal', success: function(response) {} };
$('#create_chalkboard').ajaxForm(form_options);
</script>
{% endblock %}
