{% extends 'base.html' %}
{% load static %}
{% load guardian_tags %}

{% block title %}
Chalkboards
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Chalkboards - {{ chalkboard.name }} - {{ chalkboard.description }}</li>
{% endblock %}

{% block content %}
  {# Get all permissions user #}
  {% get_obj_perms user for chalkboard as "permissions" %}
  {% if 'chalkboard_manage_permission_user' in permissions %}
    <a href="{% url 'permission_chalkboard' chalkboard.id %}">Manage permissions user</a>
  {% endif %}

  {% if 'chalkboard_update' in permissions %}
    <a data-toggle="modal" data-target="#modal" class="btn btn-primary" href="{% url 'update_chalkboard' chalkboard.id %}">Update</a>
  {% endif %}
  {% if 'chalkboard_delete' in permissions %}
    <a data-toggle="modal" data-target="#confirm_modal" class="btn btn-primary" href="{% url 'delete_chalkboard' chalkboard.id %}">Remove</a>
  {% endif %}

  {% if 'stickynote_create_own' in permissions %}
    {% include 'notes/create_type_notes.html' with type_stickynotes=type_stickynotes id_chalkboard=chalkboard.id %}
  {% endif %}
  <div class="snote">
    <ul>
      {% for stickynote in stickynotes.all %}
        {% include 'notes/single_note.html' with stickynote=stickynote id_chalkboard=chalkboard.id %}
        {% empty %}
        <li>No stickynote</li>
      {% endfor %}
    </ul>
  </div>

  {% include 'confirmation_form.html' with route='delete_chalkboard' chalkboard=chalkboard title='Confirmation' message='Are you sure you want to remove this chalkboard?' button_confirm='Remove' %}

  {# modal windows for update chalkboard #}
  <div class="modal" id="modal"></div>
{% endblock %}

{% block javascript %}
<script>
$('#modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    $.ajax({
        url: "{% url 'update_chalkboard' chalkboard.id %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
});
</script>
{% endblock %}
