{% extends 'base.html' %}
{% load static %}
{% load guardian_tags %}

{% block title %}
Chalkboards
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Chalkboards</li>
{% endblock %}

{% block content %}
  {# Get all permissions user #}
  {% get_obj_perms user for chalkboard as "permissions" %}
  {% if 'chalkboard_manage_permission_user' in permissions %}
    <a href="#">Manage permissions user</a>
  {% endif %}

  {% if 'chalkboard_update' in permissions %}
    <p><a href="{% url 'update_chalkboard' chalkboard.id %}">Update</a></p>
  {% endif %}
  <p>Name : {{ chalkboard.name }}</p>
  <p>Description : {{ chalkboard.description }}</p>

  {% if 'stickynote_create_own' in permissions %}
    {% include 'notes/create_type_notes.html' with type_stickynotes=type_stickynotes id_chalkboard=chalkboard.id %}
  {% endif %}
  <div class="snote">
    <ul>
      {% for stickynote in stickynotes.all %}
        {% include 'notes/single_note.html' with stickynote=stickynote id_chalkboard=chalkboard.id %}
        {% empty %}
        <li>No stickynote</li>
      {% endfor %}
    </ul>
  </div>

  {% if 'chalkboard_delete' in permissions %}
    <a href="{% url 'delete_chalkboard' chalkboard.id %}">Remove</a>
  {% endif %}

{% endblock %}
