{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
Post-it
{% endblock %}

{% block content %}

  <h2>StickyNotes</h2>

  <p><a data-toggle="modal" data-target="#modal" href="{% url 'create_stickynotes' %}">Add new stickynote</a></p>
  <div class="modal fade" id="modal"></div>

  {% if user.is_authenticated %}
    <a href="/admin/logout">Logout</a>
  {% else %}
    <a href="/admin">Login</a>
  {% endif %}

  <!-- Display notes -->
  <div class="snote">
    <ul>
      {% for stickynote in stickynotes.all %}
        <li>
          <a href="#" class="postit_link">
            <h2>{{ stickynote.title }}</h2><hr/>
            <p>
              <!-- Normal text -->
              <!---Content : {{ stickynote.content }}-->

              <!-- Test with video url (youtube, vimeo, soundcloud) -->
              {% load embed_video_tags %}
                {% video stickynote.content as my_video %}
                  {% video my_video "tiny" %}
              {% endvideo %}
            </p>
            <p> Date created : {{ stickynote.date_created }} </p>
            <p> Created by : {{ stickynote.user_created }} </p>
          </a>
          <a href="{% url 'update_stickynotes' stickynote.id %}">update</a><br/>
          <a href="{% url 'delete_stickynotes' stickynote.id %}">remove</a>
        </li>
      {% empty %}
        <li>No stickynote</li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}

{% block javascript %}
  <script>
  $('#modal').on('show.bs.modal', function (event) {
      var modal = $(this)
      $.ajax({
          url: "{% url 'create_stickynotes' %}",
          context: document.body
      }).done(function(response) {
          modal.html(response);
      });
  });
  </script>
{% endblock %}
