{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
Post-it
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">StickyNotes</li>
{% endblock %}

{% block content %}

  <div class="note_type">
    <ul style="display: table;">
      {% for type_stickynote in type_stickynotes %}
        <li style="vertical-align: middle; display: table-cell; padding: 1em;">
          <a href="{% url 'create_stickynotes' type_stickynote %}" title="Create new stickynotes {{ type_stickynote }}"><img src="{% get_static_prefix %}images/stickynotes/add_{{ type_stickynote }}.png" alt="Add StickyNote {{ type_stickynote }}" /></a>
        </li>
      {% empty %}
        No type found!
      {% endfor %}
    </ul>
  </div>

  <!-- modal window for add stickynote -->
  <div class="modal fade" id="modal"></div>

 {% include 'notes/single_note.html' with stickynotes=stickynotes %}

{% endblock %}

{% block javascript %}
  <script>
  </script>
{% endblock %}
